*{
    margin: center;
    padding: 5px;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container{
    background: url(bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}
.form{
    position: relative;
    width: 50%;
    height: 50%;
    border: 20px;
    border-radius: 20px;
    color: #ffffff;
    box-shadow: 10px 10px 8px #f4cf00;
    background-color: rgba(22, 17, 17, 0.90);
    
}
.form-text{
color: rgb(255, 255, 255);
position: relative;
font-size: 20px;

}
.form-text input{
    width: 80%;
    height: auto;
    border: none;
    border-bottom: 5px solid #f4cf00;
}
.form-text label{
    position: relative;
    margin-left: 10px;
}
.form h1{
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow:0 0 24px #f4cf00;color:#fff;
}
.form button{
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    background-color: rgba(22, 17, 17, 0.7);
    border-color: #f4cf00;    
}
.form button:hover{
    background-color: rgba(42, 34, 34, 0.5);
    border-color: #f4cf00;
    font-weight: bold;
    box-shadow: 0 0 5px #f4cf00,
    0 0 25px #f4cf00,
    0 0 50px #f4cf00,
    0 0 200px #f4cf00;
    color: #ffffff;
    height: 40px;
    width: 150px;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    -webkit-box-border-radius: 10px;
}